@if (wc()) {
    <button [routerLink]="['/wcs']">← Volver a lista</button>
    
    <h2>{{ wc()?.name }}</h2>
  
    <ul>
      <li>Accesible: {{ wc()?.accessible ? 'Sí' : 'No' }}</li>
      <li>Neutral: {{ wc()?.gender_neutral ? 'Sí' : 'No' }}</li>
      <li>Cambiador: {{ wc()?.has_changing_table ? 'Sí' : 'No' }}</li>
      <li>Solo clientes: {{ wc()?.only_for_customers ? 'Sí' : 'No' }}</li>
    </ul>
  
    @if (wc()?.description) {
      <p>
        {{ wc()?.description }}
      </p>
    }
  
    @if (!hasUserReviewed()) {
        <a [routerLink]="['/wcs', wc()!.id, 'reviews', 'new']">
          Añadir review
        </a>
      } @else {
        <p><em>Ya has dejado una review para este WC.</em></p>
      }
  
      <app-review-list
      [reviews]="reviews()"
      [currentUser]="userState.user()"
      (deleted)="onReviewDeleted()"
      (updated)="onReviewUpdated()"
    />
      
  } @else {
    <p>Cargando WC…</p>
  }
  