<h2>Filtros</h2>

<label>
  <input
    type="checkbox"
    [checked]="isChecked('accessible')"
    (change)="onToggle('accessible', $event.target.checked)"
  />
  Accesible
</label>

<br />

<label>
  <input
    type="checkbox"
    [checked]="isChecked('gender_neutral')"
    (change)="onToggle('gender_neutral', $event.target.checked)"
  />
  Baño neutral
</label>

<br />

<label>
  <input
    type="checkbox"
    [checked]="isChecked('only_for_customers')"
    (change)="onToggle('only_for_customers', $event.target.checked)"
  />
  Solo para clientes
</label>

<br />

<label>
    <input
      type="checkbox"
      [checked]="isChecked('has_changing_table')"
      (change)="onToggle('has_changing_table', $event.target.checked)"
    />
    Cambiador
  </label>
  
  <br />
  
  <label>
    <input
      type="checkbox"
      [checked]="isChecked('has_intimate_hygiene_products')"
      (change)="onToggle('has_intimate_hygiene_products', $event.target.checked)"
    />
    Productos de higiene íntima
  </label>
  
  <br />

<hr />


<h1>Listado de WCs</h1>

<a [routerLink]="['/wcs', 'new']">+ Añadir WC</a>

<br /><br />

@if (loading()) {
  <p>Cargando WCs...</p>
}

@if (error()) {
  <p style="color: red;">{{ error() }}</p>
}

@if (!loading() && !error()) {
    <ul>
      @for (wc of wcs(); track wc.id) {
        <li>
            <a [routerLink]="['/wcs', wc.id]" style="cursor: pointer; color:red">
                <strong>{{ wc.name }}</strong>
              </a>
                
          <ul>
            <li>Accesible: {{ wc.accessible ? 'Sí' : 'No' }}</li>
            <li>Baño neutral: {{ wc.gender_neutral ? 'Sí' : 'No' }}</li>
            <li>Cambiador: {{ wc.has_changing_table ? 'Sí' : 'No' }}</li>
            <li>Solo para clientes: {{ wc.only_for_customers ? 'Sí' : 'No' }}</li>
            <li>
              Productos de higiene íntima:
              {{ wc.has_intimate_hygiene_products ? 'Sí' : 'No' }}
            </li>
          </ul>
  
          @if (wc.description) {
            <p><em>{{ wc.description }}</em></p>
          }
        </li>
      }
    </ul>
  }
  