<div class="page-container">
  <div class="section">
    <h2 class="page-title">Filtros</h2>

<label>
  <input
    type="checkbox"
    [checked]="isChecked('clean')"
    (change)="onToggle('clean', $event.target.checked)"
  />
  Limpio
</label>

<br />

<label>
  <input
    type="checkbox"
    [checked]="isChecked('safe')"
    (change)="onToggle('safe', $event.target.checked)"
  />
  Seguro
</label>

<br />

<label>
  <input
    type="checkbox"
    [checked]="isChecked('accessible')"
    (change)="onToggle('accessible', $event.target.checked)"
  />
  Accesible
</label>

<br />

<label>
    <input
      type="checkbox"
      [checked]="isChecked('withPaper')"
      (change)="onToggle('withPaper', $event.target.checked)"
    />
    Con papel
  </label>
  
  <br />
  
  <label>
    <input
      type="checkbox"
      [checked]="isChecked('enoughReviews')"
      (change)="onToggle('enoughReviews', $event.target.checked)"
    />
    Con suficientes reseñas
  </label>
  
  <br />

  </div>

  <hr />

  <div class="section">
    <h1 class="page-title">Listado de WCs</h1>

    <div class="actions">
      <a class="btn btn-primary" [routerLink]="['/wcs', 'new']">+ Añadir WC</a>
    </div>

    @if (loading()) {
  <p>Cargando WCs...</p>
}

@if (error()) {
  <p class="form-error">{{ error() }}</p>
}

@if (!loading() && !error()) {
    @if (filteredWcs().length === 0) {
      <p>No hay WCs registrados todavía.</p>
    } @else {
      <ul>
        @for (wc of filteredWcs(); track wc.id) {
          <li>
              <a class="btn btn-secondary" [routerLink]="['/wcs', wc.id]">
                  <strong>{{ wc.name }}</strong>
                </a>
                  
            <ul>
              <li>Limpieza: {{ cleanlinessStars(wc.avg_cleanliness) }}</li>
              <li>Seguridad: {{ asPercentage(wc.safety_score) }}</li>
              <li>Accesibilidad: {{ asPercentage(wc.accessibility_score) }}</li>
              <li>Papel: {{ asPercentage(wc.toilet_paper_score) }}</li>
              <li>Reviews: {{ wc.reviews_count }}</li>
              @if (wc.reviews_count < 3) {
                <li><em>Información limitada</em></li>
              }
            </ul>
    
            @if (wc.description) {
              <p><em>{{ wc.description }}</em></p>
            }
          </li>
        }
      </ul>
    }
  }
  </div>
</div>
  