<div class="about-page">

  <div class="about-hero">
    <img src="logo/labu-icon.svg" alt="Lavapp" class="about-logo" aria-hidden="true" />
    <h1 class="about-title">{{ 'about.title' | translate }}</h1>
    <p class="about-intro">{{ 'about.intro' | translate }}</p>
  </div>

  <div class="about-body">
    <p>{{ 'about.p1' | translate }}</p>
    <p>{{ 'about.p2' | translate }}</p>
  </div>

  <div class="about-cta">
    <a routerLink="/explore" class="btn btn-primary">{{ 'about.cta_btn' | translate }}</a>
  </div>

</div>
